# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Android
android/.gradle/
android/app/*.keystore
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.iml

# Secrets
*.jks
*.keystore
key.properties
